.c-btnblue {
    padding: 0.6rem 1rem;
    width: auto;
    height: 1rem;
    background-color: $color-blue;
    color: $color-white;
    font-family: "Anton", sans-serif;
    font-size: 1.125rem;

    &:hover {
      background-color: $color-white;
      color: $color-blue;
      transition: all 0.2s ease-in;
    }
}