.c-jobs {
  margin-top: 5rem;
  padding-bottom: 10rem;
  position: relative;
  &__title {
    font-weight: bolder;
    margin-bottom: 1rem;
    &--light {
      color: $color-white;
      @include media-breakpoint-down(lg) {
        margin-top: 4rem;
      }
    }
  }
  &__card {
    width: 100%;
    height: 6rem;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 0 1.5rem 0 6rem;
    margin-bottom: 3rem;
    box-shadow: 0px 3px 9px rgba($color-black, 0.2);
    @include media-breakpoint-down(sm) {
      padding: 0 1.5rem 0 2rem;
    }
    ::after {
      content: "";
      width: 90%;
      height: 100%;
      position: absolute;
      background-color: $color-blue;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: rotate(-3deg) translateX(-50%) translateY(-60%);
    }
    i {
      font-size: 2rem;
      color: $color-black;
    }
    h4 {
      margin: 0;
    }
  }
  &__row {
    &--1 {
      margin-bottom: 6rem;
    }
  }
  &__imgcont {
    display: flex;
    align-items: center;
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  &__img {
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  &__bg {
    position: absolute;
    z-index: -10;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  &__black {
    width: 100%;
    height: 46rem;
    background-color: $color-black;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 0.4rem;
      height: 25rem;
      left: 40%;
      background-color: $color-light;
      @include media-breakpoint-down(sm) {
        left: 80%;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: -2.5rem;
      width: 20%;
      height: 5rem;
      left: 0;
      background-color: $color-blue;
    }
  }
  &__grey {
    width: 100%;
    height: 14rem;
    background-color: $color-lightgrey;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 0.4rem;
      height: 32rem;
      left: 40%;
      background-color: black;
      @include media-breakpoint-down(sm) {
        left: 80%;
        height: 36rem;
      }
    }
  }
}
