* {
    box-sizing: border-box;
}

body {
	font-size: 1rem;
	font-family: 'Crimson Text', serif;
	background-color: $color-light;
}

a {
	text-decoration: none;
	transition: all 0.3s ease;

	&:hover,
	&:focus {
		outline: none;
	}
}

h1, h2, h3 {
    font-family: 'neuzeit-grotesk', sans-serif;

}