$color-light: #f7f7f7;
$color-lightgrey: #ebebeb;
$color-white: #ffffff;
$color-black: #151618;
$color-blue: #33bddb;
$color-lightblack: #212428;
$color-darkgrey: #2e2e2e;
$color-text-black: #2D3239;

$input-bg: $color-white;
$input-border-radius: none;
$input-border-color: $color-white;
$input-focus-box-shadow: none;

